/* 页脚与头图透明 */
#footer {
  background: rgba(0, 0, 0, 0);
}

#page-header {
  /* background: rgba(0, 153, 145, 0.1); */
  background: rgba(0, 0, 0, 0);
}

/* 白天模式遮罩透明 */
#footer::before {
  background: rgba(0, 0, 0, 0);
  /* background: transparent !important; */
}

#page-header::before {
  background: rgba(0, 0, 0, 0);
  /* background: transparent !important; */
}

/* 夜间模式遮罩透明 */
[data-theme="dark"] #footer::before {
  background: rgba(0, 0, 0, 0);
}

[data-theme="dark"] #page-header::before {
  background: rgba(0, 0, 0, 0);
}

#page-header:not(.not-top-img):before {
  /* position: absolute;
  width: 100%;
  height: 100%; */
  background-color: rgba(0, 0, 0, 0);
  /* content: ''; */
}

#page-header.nav-visible #nav {
  background-color: rgba(0, 0, 0, 0);
}

#page-header.nav-fixed #nav {
  background-color: rgba(0, 0, 0, 0);
}

#page-header.full_page #site-info {
  position: absolute;
  top: 43%;
  padding: 0 0px;
  width: 100%;
}
/* 小冰分类分类磁铁黑夜模式适配 */
/* 一般状态 */
[data-theme="dark"] .magnet_link_context {
  background: #1e1e1e;
  color: antiquewhite;
}
/* 鼠标悬浮状态 */
[data-theme="dark"] .magnet_link_context:hover {
  background: #3ecdf1;
  color: #f2f2f2;
}

@font-face {
  /* 为载入的字体取名字(随意) */
  font-family: 'YSHST';	
  /* 字体文件地址(相对或者绝对路径都可以) */
  src: url(/font/优设好身体.ttf);
  /* 定义加粗样式(加粗多少) */
  font-weight: normal;
  /* 定义字体样式(斜体/非斜体) */
  font-style: normal;
  /* 定义显示样式 */
  font-display: block;
}

/* 翻页按钮居中 */
#pagination {
  width: 100%;
  margin: auto;
}

/* 导航栏魔改 */
/* 一级菜单居中 */
#nav .menus_items {
  position: absolute !important;
  width: fit-content !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
}
/* 子菜单横向展示 */
#nav .menus_items .menus_item:hover .menus_item_child {
  display: flex !important;
}
/* 这里的2是代表导航栏的第2个元素，即有子菜单的元素，可以按自己需求修改 */
.menus_items .menus_item:nth-child(5) .menus_item_child {
  left: -38px;
}

/* 夜间模式菜单栏发光字 */
[data-theme="dark"] #nav .site-page,
[data-theme="dark"] #nav .menus_items .menus_item .menus_item_child li a {
  text-shadow: 0 0 2px rgb(0, 0, 255) !important;
}

/* 手机端适配 */
[data-theme="dark"] #sidebar #sidebar-menus .menus_items .site-page {
  text-shadow: 0 0 2px rgb(0, 0, 255) !important;
}

#article-container ol li:hover:before
{
-webkit-transform: rotate(360deg);
-moz-transform: rotate(360deg);
-o-transform: rotate(360deg);
-ms-transform: rotate(360deg);
transform: rotate(360deg)
}
