/* 页脚与头图透明 */
#footer {
  background: rgba(0, 0, 0, 0);
}

#page-header {
  /* background: rgba(0, 153, 145, 0.1); */
  background: rgba(0, 0, 0, 0);
}

/* 白天模式遮罩透明 */
#footer::before {
  background: rgba(0, 0, 0, 0);
  /* background: transparent !important; */
}

#page-header::before {
  background: rgba(0, 0, 0, 0);
  /* background: transparent !important; */
}

/* 夜间模式遮罩透明 */
[data-theme="dark"] #footer::before {
  background: rgba(0, 0, 0, 0);
}

[data-theme="dark"] #page-header::before {
  background: rgba(0, 0, 0, 0);
}